html {
    height: 100%;
    overflow-y: auto;
}

body,
p,
form,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: white;
    height: 100%;
    font: 12px arial;
}

#wrapper {
    min-width: 810px;
    height: 100%;
    min-height: 600px;
    position: relative;
}

#head {
    position: relative;
    padding-bottom: 0;
    height: 100%;
    min-height: 600px;
    text-align: center;
}

.s_form {
    position: relative;
    top: 38%;
}

.s_form_wrapper {
    position: relative;
    top: -190px;
}

#form {
    margin: 20px auto 0;
    text-align: left;
    width: 640px;
    position: relative;
    padding: 0;
}

.ipt_wr {
    border: 1px solid #BDBDBD;
    border-right: 0px;
    background: white;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 530px;
    height: 34px;
    margin-right: 0;
    overflow: hidden;
}

.ipt_wr:hover {
    border-color: #999 transparent #b3b3b3 #999;
}

#kw {
    position: relative;
    height: 24px;
    width: 500px;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
}

.btn_wr {
    width: auto;
    height: auto;
    border-bottom: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
}

.s_btn {
    width: 100px;
    height: 36px;
    margin-left: -3px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #3385ff;
    outline: medium;
    border: 0;
    padding: 0;
}

.s_btn:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}

#ul {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0 5px 0;
    padding: 0 30px 0 0;
}

#ul a.nav {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 18px;
    line-height: 24px;
    color: #333;
}

#ul a.nav2 {
    font-size: 13px;
    text-decoration: underline;
    margin-left: 18px;
    line-height: 24px;
    color: #333;
}

#ul a:hover {
    color: blue;
}

#ul a.nav2:hover {
    color: blue;
}

#ul a.bri {
    display: inline-block;
    right: 10px;
    width: 60px;
    height: 23px;
    color: white;
    background: #3385ff;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #3385ff;
    margin-left: 19px;
    margin-right: 2px;
    text-decoration: none;
}

#ftcon {
    height: 100px;
    position: absolute;
    bottom: 44px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#lh {
    margin: 16px 0 5px;
}

#lh a {
    margin: 0 10px;
}

#cp,
#cp a {
    color: #666;
}

.c-icon-icrlogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_45de3f02.png) no-repeat;
    background-position: -600px -96px;
    position: relative;
    top: 3px;
}

#wrapper2 {
    display: none;
}

@media screen and (max-width:1000px) {
    #wrapper {
        display: none;
    }
    #wrapper2 {
        display: block;
    }
    body,
    h1,
    h2,
    h3,
    p,
    div,
    ol,
    ul,
    input,
    button {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    #userinfo-wrap {
        position: relative;
        height: 75px;
    }
    #logo {
        height: 55px;
        padding: 17px 0 15px;
    }
    #index-form {
        margin: 0 10px;
        border: 1px solid #8d9394;
        border-radius: 1px;
        height: 42px;
        -webkit-box-shadow: 0 1px 1px 0 #dfdfdf;
        background: #fff;
    }
    .se-inner {
        width: 79px;
    }
    .con-wrap {
        position: relative;
    }
    #index-bn {
        position: absolute;
        top: 0;
        right: 0;
        width: 79px;
        background: -webkit-linear-gradient(top, #f9f9f9, #e7e9eb);
        color: #46484b;
        text-shadow: 0 32px 0 #fafafa;
        white-space: nowrap;
        line-height: 42px;
        border: 0;
        border-left: 1px solid #8d9394;
        letter-spacing: -1px;
        font-weight: 700;
        font-size: 16px;
        box-shadow: 0 0 0 1px #fff inset;
    }
    #navs {
        margin: 17px 0 14px;
        overflow: hidden;
    }
    #navs a:first-child {
        margin-left: 2%;
    }
    #navs a {
        float: left;
        width: 16%;
        font-size: 13px;
        color: #262626;
    }
    #navs a i {
        display: block;
        margin-bottom: 4px;
        height: 24px;
    }
    a {
        text-decoration: none;
    }
    @font-face {
        font-family: icons;
        src: url(https://m.baidu.com/static/index/iconfont/iconfont_c72511c6.eot);
        src: url(https://m.baidu.com/static/index/iconfont/iconfont_c72511c6.eot#iefix) format('embedded-opentype'), url(https://m.baidu.com/static/index/iconfont/iconfont_c72511c6.woff) format('woff'), url(https://m.baidu.com/static/index/iconfont/iconfont_c72511c6.ttf) format('truetype'), url(https://m.baidu.com/static/index/iconfont/iconfont_c72511c6.svg?#iconfont) format('svg');
        font-weight: 400;
        font-style: normal
    }
    .navs-news:before {
        content: '\e672';
        color: #777;
        font: 24px/1 icons
    }
    .navs-tieba:before {
        content: '\e670';
        color: #777;
        font: 24px/1 icons
    }
    .navs-novel:before {
        content: '\e676';
        color: #777;
        font: 24px/1 icons
    }
    .navs-video:before {
        content: '\e66f';
        color: #777;
        font: 24px/1 icons
    }
    .navs-life:before {
        content: '\e730';
        color: #777;
        font: 24px/1 icons
    }
    .navs-website:before {
        content: '\e675';
        color: #777;
        font: 24px/1 icons
    }
    .navs-extend:before {
        content: '\e727';
        color: #777;
        font: 24px/1 icons
    }
    .navs-more:before {
        content: '\e674';
        color: #777;
        font: 24px/1 icons
    }
    .navs-map:before {
        content: '\e66c';
        color: #777;
        font: 24px/1 icons
    }
    .navs-image:before {
        content: '\e66e';
        color: #777;
        font: 24px/1 icons
    }
    .navs-app:before {
        content: '\e677';
        color: #777;
        font: 24px/1 icons
    }
    #plus-card {
        position: relative;
        padding: 2px 10px 10px;
    }
    .plus {
        border: 1px solid #d9dde2;
        margin-top: 8px;
        background: #fff;
    }
    .plus-title {
        position: relative;
        margin: 2px 14px 0;
        height: 40px;
        text-align: left;
    }
    .plus-title h2 {
        padding-left: 19px;
        line-height: 40px;
        font-size: 15px;
        font-weight: 400;
        color: #aaa;
    }
    .normal-title>i {
        position: absolute;
        top: 11px;
        left: -2px;
    }
    .icon-nav:before {
        content: '\e609';
        color: #6fb5e9;
        font: 18px/1 icons;
    }
    .plus-edit {
        display: block;
        position: absolute;
        right: -12px;
        top: 0;
        width: 40px;
        height: 34px;
        text-align: center;
        line-height: 40px;
    }
    .icon-edit {
        position: absolute;
        width: 40px;
        height: 34px;
        top: 0;
        left: 0;
    }
    .icon-edit:before {
        content: '\e650';
        color: #b6b7ba;
        font: 20px/34px icons;
    }
    .plus-content {
        overflow: hidden;
        margin-top: -5px;
        font-size: 14px;
    }
    #nav-list a {
        float: left;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        padding: 0 6px;
        width: 25%;
        height: 42px;
        line-height: 42px;
    }
    .plus-content a {
        color: #262626;
    }
    .icon-news:before {
        content: '\e610';
        color: #7db164;
        font: 18px/1 icons;
    }
    #hotword-list {
        padding: 0 14px;
        text-align: left;
    }
    #hotword-list li {
        display: inline-block;
        width: 49%;
        height: 42px;
        line-height: 42px;
        vertical-align: top;
    }
    .icon-lbs:before {
        content: '\e60f';
        color: #60ade8;
        font: 18px/1 icons;
    }
    .gps-zone {
        position: relative;
        margin: 8px 14px 14px;
        height: 30px;
        line-height: 30px;
        text-align: left;
        color: #262626;
    }
    .gps-info {
        display: inline-block;
        vertical-align: middle;
        max-height: 32px;
        overflow: hidden;
        margin-top: 7px;
    }
    .gps-zone p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding-right: 70px;
        line-height: 16px;
    }
    .gps-zone button {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 30px;
        border: 1px solid #d2d6dd;
        border-radius: 2px;
        text-indent: 20px;
        font-size: 14px;
        background: transparent;
    }
    .gps-zone span {
        position: absolute;
        top: 6px;
        right: 43px;
        width: 20px;
        height: 20px;
    }
    .icon-position:before {
        content: '\e60a';
        color: #919498;
        font: 20px/20px icons;
    }
    #lbs-list {
        margin-top: 5px;
        padding-bottom: 5px;
        text-align: left;
    }
    #lbs-list li {
        width: 24%;
        text-align: center;
        display: inline-block;
    }
    #lbs-list div {
        width: 42px;
        height: 42px;
        border-radius: 21px;
        margin: 0 auto;
    }
    #index-card [class^=icon-],
    #index-card [class*=" icon-"],
    #index-view [class^=icon-],
    #index-view [class*=" icon-"] {
        font-family: icons;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: .2px;
    }
    #lbs-list .icon-film:before {
        content: "\e786";
    }
    #lbs-list [class^=icon-]:before {
        font-size: 26px;
        line-height: 42px;
        color: #fff;
    }
    #lbs-list p {
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        margin: 3px 0 8px;
    }
    .plus-control {
        height: 47px;
        line-height: 47px;
        border-top: 1px solid #f0f0f0;
        margin-top: 4px;
        font-size: 16px;
        color: #262626;
    }
    .icon-arrow:before {
        content: '\e612';
        color: #b6b7ba;
    }
    #admin {
        padding: 0;
        line-height: 45px;
        height: 45px;
        color: #0058d2;
        font-size: 15px;
        text-indent: -8px;
    }
    #foot {
        margin: 10px 25px 0;
    }
    #foot div a:first-child {
        float: left;
    }
    #foot div a {
        display: inline-block;
        height: 24px;
        width: 47%;
        line-height: 24px;
        border: 1px solid #ececec;
        border-radius: 1px;
        color: #555;
        font-size: 13px;
    }
    #index-copyright {
        display: block;
        font-size: 10px;
        line-height: 20px;
        padding: 10px 0 13px;
        color: #aaa;
    }
}
