.index-public-title {
    margin-bottom: 16px;
    strong {
        font-size: 18px;
        color: $black;
        float: left;
        font-weight: 500;
        a {
            color: #333;
        }
    }
}