$gray:#666;
$black:#585858;
$yellow:#FFE86E;
$light-gray:#f5f5f5;
$white:#fff;
$green:#2AA04B;
$red:#F14E5C;
$light-green:#7bda95;
$green-white:#f3fff6;
$greenborder: 2px solid #35b558;
$border:1px solid #e4e4e4;